lake_detection_binary_masks*/
*.nc
*.nc.aux.xml
*.zarr/
.ipynb_checkpoints/
.virtual_documents/
.vscode/
__pycache__/
archive/
*.zip

# packaging / build artifacts
build/
dist/
*.egg-info/
src/*.egg-info/